.plex-navbar-container {
  background-color: #008c8c !important;
}
#SqlDevelopmentEnvironment.plex-form-content-wrapper{
  bottom: 10px !important;
}
.plex-banner{
  position: absolute !important;
  z-index: 999 !important;
  width: 100% !important;
  margin:0 !important;
}
.plex-banner-warning {
    background-color: #f6a623dd !important;
}
.plex-banner-success {
    background-color: #6ec873dd !important;
}
.Remove { 
    font-size: 14px !important;
    margin-left: 5px !important;
    padding: 5px 10px !important;
    background-color: #ff8888 !important;
    border-radius: 15px !important;    
}
.ace_keyword{
  font-weight: bold !important;
}
.ace_operator{
  color: #ff0000 !important;
}
.ace_constant{
  color: #d96c00 !important;
}
.ace_string{
  color: #d96c00 !important;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
  margin-top:10px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}